{% load staticfiles %}
<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1" user-scalable=no>
            <link href='https://fonts.googleapis.com/css?family=Alef' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
            <title>
                {% block title %}{% endblock %}
            </title>
            </head>
        <body>
            <div class="row" id="header">
                <div class="col-md-12" id='blog-title'>
                    <a href="/"><h1> Buu Blog </h1></a>
                </div>
            </div>

            <div class="container">
                <div class="row equal">
                    <aside class="col-md-2" id='side-bar'>
                    </aside>
                    <div class="col-md-8" id='main-block'>
                        <div class="post">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                    <div class="col-md-2" id='right-side-bar'>

                    </div>
                </div>
            </div>
        </body>
    </html>
