/*@font-face {
    font-family: Alegreya;
    src: url('media/fonts/Alegreya.ttf') format('ttf');
}*/

#blog-title {
    text-align: center;
    font-family: 'Alef', sans-serif;
    color: white;
    font-size: 45pt;
    background-color: #1D276B;
    margin-top: 0;
    padding: 0px 0px 0px 0px;
}

body {
    /*background-image: url('/media/images/flash.jpg');*/
    /*background-color: #1D276B;*/
    background-color: white;
    text-align: justify;
    line-height: 36px;
    font-family: 'Alegreya', sans-serif;
    color: #1D276B;
    font-size: 12pt;
}

p.date-time{
    color: #389CCD;
    float: right;
    padding-right: 00px;
    font-size: smaller;
}

a:link{
    color: inherit;
    text-decoration: none;
}

#disqus_thread{
    padding: 30px 30px 30px 30px;
}

.content{
    text-align: justify;
    padding:0px 00px 00px 00px;
}

img{
    padding-left: 300px;
}

hr {
    color: #eeeeee;
    background-color: #ccccff;
    height: 1px;
    border: none;
    padding-left: 00px;
    /*border-bottom:1px solid #313030;*/
}

#post-title{
    text-align: center;
}

aside{
    border-style: solid;
    border-right: thick double #ff0000;
    outline-style: dotted;
}
