{% extends 'base.html' %}


    {% block title %} Buu Blog {% endblock %}

    {% block content %}
        {% if category %}
        <h2>{{category}}</h2>
        {% endif %}
        {% for post in posts %}
        <div class="">
                <h2>
                    <a href="{{post.get_absolute_url}}" id="post-title">
                        {{post.title}}
                    </a>
                </h2>
                <div class="content">
                    {{post.content | truncatewords_html:50 | safe}}
                </div>

            <p class="date-time">
            <a href="{{post.get_absolute_url}}">
                Posted on
                <time datetime="{{post.created|date:"c"}}">
                {{post.created|date}}
                </time>
            </a>
            </p>
            <hr/>
        </div>
        {% endfor %}
    {% endblock %}
